<div class="wrapper__n">
    <div class="contenet__n">
      <div>
        <div class="rules">
          <span class="rules-title">Правила участия в турнирах организатором которых является FASTMM:</span></br>
          <span>Правила обязательны для исполнения всеми участниками.</span></br>
          <span>Правила могут меняться в любой момент без уведомления участников.</span></br>
          <span>Вступление в турнир означает, что вы прочитали правила и полностью с ними согласны.</span></br>
        </div>
        <v-expansion-panels
          v-model="expandedTrnRules"
          multiple
        >
          <v-expansion-panel>
            <v-expansion-panel-header>
              Общие положения
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="rules-text">
                1. Запрещены договорные матчи
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Выплата призовых
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="rules-text">
                <b>1.</b> Пост с победителями выходит на следующий день после турнира, в официальной <a href="https://vk.com/fmmgg" target="_blank">группе вк</a> в 21:00 МСК.<br>
                <b>2.</b> После выхода поста с победителями, игрок находящийся в списке должен написать в сообщения группы. Если в течении двух суток не поступил запрос на выплату призовых, они будут конвертированы в fst по текущему курсу и начислены на его счет.
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Реферальная система
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="rules-text">
                На некоторые наши турниры действует <a href="https://vk.com/@fmmgg-referalnaya-sistema-dlya-turnirov-fastmm" target="_blank">реферальная система.</a> <br>
                В рамках которой вы получите вознаграждение за каждого нового игрока, которого вы пригласили.<br><br>

                Вознаграждение:<br>
                <b>+250</b> fst за нового участника турнира.<br>
                <b>+625</b> fst, если он отыграет хотя бы 1 карту полностью.<br>
                <b>+625</b> fst, если он попадет в победители.<br>
                Итого, вы можете получать до 1500 fst за каждого приведенного вами нового игрока.<br>
                Однако, если мы посчитаем игру нечестной, вознаграждение будет обнулено!<br><br>

                Правила:<br>
                <b>1.</b> Реферальная система подключается только для некоторых турниров по выбору администрации.<br>
                Обычно это вечерние официальные турниры.<br>
                <b>2.</b> Реферальная система может быть отключена в любой момент, когда наша цель по привлечению игроков в заданный турнир будет достигнута.<br>
                Определить действует ли она сейчас можно обновив страницу в лобби.<br>
                <b>3.</b> Вознаграждение начисляется после проверки и подведения итогов.<br><br>

                Как получить реферальную ссылку?<br>
                <b>1.</b>Если вы видите в лобби короткую ссылку вида fmm.gg/4444 - из 4 цифр, то это и есть ваша реферальная ссылка.<br>
                <span style="padding-left: 1em">- Отправляйте ее своим друзьям, чтобы получать вознаграждение.</span><br>
                <b>2.</b> Если же вы видите ссылку вида fmm.gg/333 - из трёх цифр, то реферальная система не действует.<br>
                <b>3.</b> <span> <v-icon
                small
                color="red"
              >fa-exclamation-triangle</v-icon> </span> Реферальная система может быть отключена в любой момент.<br><br>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              <div class="fst_coin__n">
                Eжедневный турнир на 2000 <img
                  class="icon_fst_coin__n"
                  src="@/assets/images/selectmatch/fst.svg"
                >
              </div>
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-expansion-panels
                v-model="expandedDailyTrnRules"
                multiple
              >
                <v-expansion-panel>
                  <v-expansion-panel-header>
                    Общее описание
                    <template v-slot:actions>
                      <v-icon color="primary">
                        $expand
                      </v-icon>
                    </template>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <div class="rules-text">
                      <a
                        href="https://vk.com/feed?section=search&q=%23skin_za_skill"
                        target="_blank"
                      >#скинзаскилл</a>
                      <a
                        href="https://vk.com/feed?section=search&q=%23skin_za_skill"
                        target="_blank"
                      > #skin_za_skill</a>
                      <p>
                        Серия быстрых, чередующихся турниров<br>
                        В формате Дезматча или Арены 1x1 / 12 слотов<br><br>

                        Чтобы попасть в турнир нужно:<br>
                        - Иметь прайм статус в CS:GO<br>
                        - Вступить в группу <a
                          href="https://vk.com/fmmgg"
                          target="_blank"
                        >vk.com/fmmgg</a><br>
                        - В 17:50 MSK вступить в комнату турнира на сайте fastmm.win<br><br>

                        Игра запустится как только все соберутся или через 10 минут.<br><br>

                        Призовой фонд обоих турниров:<br><br>

                        <b>Дезматч:</b><br>
                        (1500fst + 50fst за каждого участника)<br>
                        Первое место - 75%,<br>
                        Второе место - 15%,<br>
                        Третье место - 10%.<br><br>

                        <b>Арена 1на1:</b><br>
                        Первое место - 50%,<br>
                        Второе место - 50%.<br><br>

                        Выплата игровых токенов через 3 часа, за них вы сможете вывести крутые скины в нашем магазине.<br>

                        Раз в неделю, случайный участник из числа тех, кто не занимал 1-е место, получает <b>2000fst.</b><br>
                      </p>
                    </div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>
                    DeathMatch
                    <template v-slot:actions>
                      <v-icon color="primary">
                        $expand
                      </v-icon>
                    </template>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <div class="rules-text">
                      Режим игры: Каждый сам за себя. (FFA) <br><br>

                      Требования к участникам:<br>
                      - Иметь прайм статус в игре CS:GO.<br>
                      - Состоять в нашей группе Вконтакте и быть готовым подтвердить это.<br>
                      - Записать POV demo. (Во время разминки выполнить в консоли: record DEMO_NAME)<br>
                      - Быть готовым, предоставить администраторам записанное demo, если поступит такая просьба. Отказ, может негативно повлиять на решение.<br><br>

                      Участникам запрещается:<br>
                      - Использовать читы и иной подобный софт, способствующий не честной игре.<br>
                      - Оскорблять кого либо из участников или представителей проекта.<br><br>

                      <b>Способ определения победителей:</b><br>
                      Первые 3 игрока, набравшие наибольшее количество очков.<br><br>

                      Для обеспечения честной борьбы, администраторы вправе отстранить любого игрока от участия в турнире, без объяснения причин.<br>
                      Все участники должны понимать, что окончательное решение остается за судьями или администраторами проекта, даже если оно противоречит указанным условиям.<br>
                    </div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
                <v-expansion-panel>
                  <v-expansion-panel-header>
                    Arena
                    <template v-slot:actions>
                      <v-icon color="primary">
                        $expand
                      </v-icon>
                    </template>
                  </v-expansion-panel-header>
                  <v-expansion-panel-content>
                    <div class="rules-text">
                      Турнир проходит на специальных картах в режиме Multi Arena 1vs1<br>
                      Это значит, что за один короткий раунд, одновременно будет проходить несколько боев 1х1 в отдельных локациях, а по окончании раунда, игроки будут автоматически перегруппированы.<br>
                      Победившие в раунде поднимаются в верх ближе к 1ой арене, проигравшие двигаются в низ.<br>
                      Для настройки желаемого оружия используется команда "!guns" в чате, для вашего удобства, желательно настроить оружее заранее, на разминке.<br><br>

                      Требования к участникам:<br>
                      - Иметь прайм статус в игре CS:GO.<br>
                      - Состоять в нашей группе Вконтакте и быть готовым подтвердить это.<br>
                      - Записать POV demo. (Во время разминки выполнить в консоли: record DEMO_NAME).<br>
                      - Быть готовым, предоставить администраторам записанное demo, если поступит такая просьба. Отказ, может негативно повлиять на решение.<br><br>

                      Участникам запрещается:<br>
                      - Использовать читы и иной подобный софт, способствующий не честной игре.<br>
                      - Оскорблять кого либо из участников или представителей проекта.<br><br>

                      <b>Способ определения победителей:</b><br>
                      Победитель 1 - Игрок, сделавший больше всех фрагов на 1й арене (Определяется логикой плагина).<br>
                      Победитель 2 - Игрок, из числа оставшихся, с наибольшим количеством фрагов.<br><br>

                      Для обеспечения честной борьбы, администраторы вправе отстранить любого игрока от участия в турнире, без объяснения причин.<br>
                      Все участники должны понимать, что окончательное решение остается за судьями или администраторами проекта, даже если оно противоречит указанным условиям.<br>
                    </div>
                  </v-expansion-panel-content>
                </v-expansion-panel>
              </v-expansion-panels>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Турнир Multi Arena 1x1
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="rules-text">
                Турнир проходит на специальных картах в режиме Multi Arena 1vs1<br>
                Это значит, что за один короткий раунд, одновременно будет проходить несколько боев 1х1 в отдельных локациях, а по окончании раунда, игроки будут автоматически перегруппированы.<br>
                Победившие в раунде поднимаются в верх ближе к 1ой арене, проигравшие двигаются в низ.<br>
                Для настройки желаемого оружия используется команда "!guns" в чате, для вашего удобства, желательно настроить оружее заранее, на разминке.<br><br>

                Требования к участникам:<br>
                - Иметь прайм статус в игре CS:GO.<br>
                - Состоять в нашей группе Вконтакте и быть готовым подтвердить это.<br>
                - Записать POV demo. (Во время разминки выполнить в консоли: record DEMO_NAME).  <br>
                - Быть готовым, предоставить администраторам записанное demo, если поступит такая просьба. Отказ, может негативно повлиять на решение.<br>
                - Отсутвие банов на других платформах.<br><br>

                Участникам запрещается:<br>
                - Использовать читы и иной подобный софт, способствующий не честной игре.<br>
                - Оскорблять кого либо из участников или представителей проекта.<br><br>

                Способ определения победителей:<br>
                Победитель 1 - Игрок, сделавший больше всех фрагов на 1й арене (Определяется логикой плагина).<br>
                Победитель 2 - Игрок, из числа оставшихся, с наибольшим количеством фрагов.<br><br>

                Для обеспечения честной борьбы, администраторы вправе отстранить любого игрока от участия в турнире, без объяснения причин.<br>
                Все участники должны понимать, что окончательное решение остается за судьями или администраторами проекта, даже если оно противоречит указанным условиям.<br><br>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Турнир DeathMatch
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="rules-text">
                Турнир DeathMatch</br>
                Режим игры: Каждый сам за себя.</br></br>

                Требования к участникам:</br>
                - Иметь прайм статус в игре CS:GO.</br>
                - Состоять в нашей группе Вконтакте и быть готовым подтвердить это.</br>
                - Записать POV demo. (Во время разминки выполнить в консоли: record DEMO_NAME).  </br>
                - Быть готовым, предоставить администраторам записанное demo, если поступит такая просьба. Отказ, может негативно повлиять на решение.</br></br>

                Участникам запрещается:</br>
                - Использовать читы и иной подобный софт, способствующий не честной игре.</br>
                - Оскорблять кого либо из участников или представителей проекта.</br></br>

                Способ определения победителей:</br>
                Первые 3 игрока, набравшие наибольшее количество очков.</br></br>

                Для обеспечения честной борьбы, администраторы вправе отстранить любого игрока от участия в турнире, без объяснения причин.</br>
                Все участники должны понимать, что окончательное решение остается за судьями или администраторами проекта, даже если оно противоречит указанным условиям.</br></br>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              Турнир KZTimer
              <template v-slot:actions>
                <v-icon color="primary">
                  $expand
                </v-icon>
              </template>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <div class="rules-text">
                Турнир KZTimer</br>
                - Для запуска таймера нажмите E(USE).</br>
                - Вы можете неоднократно пройти карту, в зачет пойдет лучшее время.</br></br>

                Требования к участникам:</br>
                - Иметь прайм статус в игре CS:GO.</br>
                - Состоять в нашей группе Вконтакте и быть готовым подтвердить это.</br>

                Участникам запрещается:</br>
                - Использовать читы и иной подобный софт, способствующий не честной игре.</br>
                - Оскорблять кого либо из участников или представителей проекта.</br></br>

                Способ определения победителей:</br>
                - Первые 3 игрока с лучшим временем карты.</br>
                - Случайный участник из тех, кто был на сервере.</br></br>

                Для обеспечения честной борьбы, администраторы вправе отстранить любого игрока от участия в турнире, без объяснения причин.</br>
                Все участники должны понимать, что окончательное решение остается за судьями или администраторами проекта, даже если оно противоречит указанным условиям.</br></br>
              </div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </div>
  </div>
